button {
    height: 60px;
    max-width: 180px;
    padding: 0px 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
}

a {
    padding: 0;
    margin: 0;
    
}